<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solder Tools | Login</title>
  </head>
  <body>
    <form action="login" method="POST">
      <label for="st-username">Username</label>
      <input type="text" name="st-username" required />
      <label for="password">Password</label>
      <input type="password" name="st-password" required />
      <button type="submit">
        Login
      </button>
    </form>
  </body>
</html>
